@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f8f9fc;
  font-family: 'Inter', sans-serif;
  color: #111827;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(91, 108, 249, 0.2);
}